<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=NombreDeLaFuente&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
    <title>Examen de Econometría</title>
</head>
<body>
    <div class="contenido">
        <h1>Bienvenido al Examen de Econometría</h1>

        <form action="/examen" method="get">

            <button type="submit">Iniciar Examen</button>

        </form>

        <div class="footer">
            <p> Este examen está protegido por derechos de autor. Todos los derechos pertenecen a Elías, el autor del contenido. Cualquier reproducción o distribución no autorizada está prohibida.</p>        </div>

    </div>
</body>
</html>
